.listCard {
  border: 1px solid;
  border-radius: 12px;
  min-height: 200px;
  max-width: 450px;
  margin: auto;
}
.listCardHeader {
  background-color: #98E85A;
  height: 45px;
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}
.listDisplay {

}
.item {
  display: flex;
  font-size: 16px;
  padding: 0px 8px;
}
.item <.checked{
  text-decoration: line-through;
}
.item .unchecked {

}
.itemCheckbox {
  visibility: hidden;
}
.itemText {

}
